fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
langchain
langchain-community
langchain-text-splitters
langchain-groq
faiss-cpu
sentence-transformers
pypdf
pdf2image
pytesseract
pillow
streamlit
httpx
pytest
